*#
*~
*.o
*.log
*.dump
logjam-device
logjam-dump
logjam-graylog-forwarder
logjam-httpd
logjam-importer
logjam-pubsub-bridge
logjam-replay
tester
test_publisher
test_subscriber
checker
.deps
autom4te.cache
Makefile.in
configure
.dirstamp
/Makefile
/config.status
/conf
.gdbinit
test_puller
builds/*
cov-int
aclocal.m4
depcomp
install-sh
missing
logjam-tools-cov.tgz
.DS_Store
compile
murks
logjam.prof
config.h
config.h.in
stamp-h1
logjam-logger
logjam-tail
logjam-livestream
/go/pkg
/go/src/github.com/gorilla/websocket
/go/src/github.com/pebbe/zmq4
/go/src/gopkg.in
