*#
*~
*.o
*.log
*.dump
.deps
.godeps
autom4te.cache
Makefile.in
configure
.dirstamp
/Makefile
/config.status
/conf
.gdbinit
test_puller
builds/*
cov-int
aclocal.m4
depcomp
install-sh
missing
logjam-tools-cov.tgz
.DS_Store
compile
murks
logjam.prof
config.h
config.h.in
stamp-h1
# go sources
/go/pkg
/go/src/github.com/ShowMax/
/go/src/github.com/beorn7/
/go/src/github.com/cornelk/hashmap/
/go/src/github.com/golang/
/go/src/github.com/gorilla/
/go/src/github.com/jessevdk/
/go/src/github.com/matttproud/
/go/src/github.com/nu7hatch/
/go/src/github.com/pebbe/
/go/src/github.com/prometheus/
/go/src/github.com/protobuf/
/go/src/gopkg.in
# programs
/livestream-generator
/logjam-device
/logjam-dump
/logjam-fhttpd
/logjam-forwarder
/logjam-graylog-forwarder
/logjam-http-forwarder
/logjam-importer
/logjam-livestream
/logjam-logger
/logjam-prometheus-exporter
/logjam-pubsub-bridge
/logjam-replay
/logjam-tail
# test programs
/checker
/test_publisher
/test_subscriber
/tester
