*#
*~
*.o
*.log
*.dump
.deps
.godeps
autom4te.cache
Makefile.in
configure
.dirstamp
/Makefile
/config.status
/conf
.gdbinit
test_puller
builds/*
cov-int
aclocal.m4
depcomp
install-sh
missing
logjam-tools-cov.tgz
.DS_Store
compile
murks
logjam.prof
config.h
config.h.in
stamp-h1
proml-queries.txt
# programs
/src/Makefile
/src/livestream-generator
/src/logjam-device
/src/logjam-dump
/src/logjam-fhttpd
/src/logjam-forwarder
/src/logjam-graylog-forwarder
/src/logjam-http-forwarder
/src/logjam-importer
/src/logjam-livestream
/src/logjam-logger
/src/logjam-prometheus-exporter
/src/logjam-pubsub-bridge
/src/logjam-replay
/src/logjam-tail
# test programs
/src/checker
/src/test_publisher
/src/test_subscriber
/src/tester
#go
/go/vendor
/go/logjam-fhttpd
/go/logjam-http-forwarder
/go/logjam-livestream
/go/logjam-livestream-generator
/go/logjam-mongodb-backup
/go/logjam-mongodb-restore
/go/logjam-prometheus-exporter
/go/logjam-rename-callers
.rvmrc
TAGS
src/TAGS
packages
docker-token
railsexpress-key
secrets.tar